:root {

  --cor-primaria: #ea45b5; 
  --cor-secundaria: #27f349;
  --cor-fundo: #80ec84;
  --cor-texto: #781b59;
  --cor-branca: #ffffff;

  --fonte-principal: Arial, sans-serif;

  --borda-radius: 10px;
  --sombra: 0 4px 10px rgba(0, 0, 0, 0.1);

}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.caixa {
    background-color: var(--cor-branca);
    padding: 30px;
    border-radius: var(--borda-radius);
    box-shadow: var(--sombra);
    text-align: center;
    width: 300px;
}

h1 {
    color: var(--cor-primaria);
}

button {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border: none;
    padding: 10px 20px;
    border-radius: var(--borda-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria);
}