body {
    text-align: center;
    background-color: rgb(250, 177, 229);
}

h2 {
    color: rgb(4, 4, 4);
}
form {
    background-color: rgb(16, 16, 16);

    padding: 30px;
    margin: 50px auto;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px black;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
}